#fundo{
z-index:10;
position:fixed;
display:none;
width:100%;
height:100%;
background: rgba(0,0,0,0.8702959501497806);
perspective: 2000px;
}
#card{
 position:relative;
 width:300px;
 height:470px;
 background:white;
 left:50%;
 top:50%;
 opacity:5;
 border-radius:20px;
 transform-style: preserve-3d;
 transform:translate(-50%,-50%) rotateY(0deg);
 border:3px solid white;
}
#numero1{
position:absolute;
width:100%;
height:100%;
background:red;
border-radius:20px;
transform: translateZ(1px);
}
#numero2{
position:absolute;
width:100%;
height:100%;
background:blue;
border-radius:20px;
transform:scaleX(-1);
}
#fechar{
display:none;
position:absolute;
width:20%;
height:30px;
border:none;
left:50%;
bottom:10px;
border-radius:50px;
font-size:140%;
text-transform:uppercase;
font-weight:bold;
transform:translate(-50%,0%);
}
/*estilizacao do body e do header*/
  *{
  user-select:none;
  -webkit-user-drag: none; 
  font-family:Arial,sans-serif;
  margin:0px;
  padding:0px;
  }
  *::-webkit-scrollbar {
        width: 12px;
    }

  *::-webkit-scrollbar-track {
        background-color: none;
    }

  *::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }
	body::-webkit-scrollbar-thumb {
        background-color: #254f6d;
        border-radius: 0px;
    }
  html {
  scroll-behavior:smooth;
  }
  a{
  width:auto;
  text-decoration:none;
  background:none;
  color:white;
  }
  a:focus {
  outline:2px solid none;
  box-shadow: none;
  }
  
  body{
  background:#041A33;
  height:auto;
  margin:0px;
  padding:0px;
 
  }
  
  .menu-box {
  display:none;
  position:absolute;
  z-index:4;
  background-color: #fff;
  width: 96%;
  top:8vh;
  left:50%;
  transform:translate(-50%,0%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  }
  .profile-header {
  display: flex;
  align-items: center;
  background-color:#778BAD;
  color: #fff;
  padding: 20px;
  }
  .profile-header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  }
  .profile-header .user-info {
  display: flex;
  flex-direction: column;
  }
  .profile-header .user-info .username {
  font-size: 18px;
  font-weight: bold;
  }
  .profile-header .user-info .account-icon {
  font-size: 14px;
  margin-top: 5px;
  }
  .menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  .menu-options li {
  border-top: 1px solid #e0e0e0;
  display:flex;
  position:relative;
  }
  .menu-options li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  }
  .menu-options li a:hover {
  background-color: #f5f5f5;
  }
  
  
  /*nav cabeçalho*/
  #cont_user{
  display:flex;
  position:relative;
  width:100%;
  height:7vh;
  background:none;
  padding:1%;
  }
  #icon{
  display:block;
  position:relative;
  height:100%;
  left:0%;
  top:0%;
  border-radius:50%;
  border:2px solid white;
  background:none;
  margin:0%;
  }
  #entrar{
  display:none;
  position:relative;
  width:20%;
  height:4vh;
  left:2vh;
  top:50%;
  border-radius:5px;
  border:0.3vh solid white;
  background:none;
  text-transform:uppercase;
  color:white;
  transform:translate(0%,-50%);
  
  }
  #userText {
  display:none;
  position:relative;
  height:40%;
  left:2vh;
  top:50%;
  font-size:140%;
  background:none;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  color:white;
  transform:translate(0%,-50%);
  }
  #bandeira{
  position:absolute;
  width:auto;
  height:auto;
  margin:0%;
  padding:1%;
  right:5%;
  top:0vh;
  overflow:hidden;
  filter:grayscale(0%) hue-rotate(-10deg);
  border-radius:0px 0px 10px 10px;
  box-shadow:5px 5px 10px black;
  background: linear-gradient(0deg, rgba(119,110,6,1) 0%, rgba(94,92,10,1) 12%, rgba(141,133,41,1) 21%, rgba(172,158,21,1) 30%, rgba(189,182,114,1) 39%, rgba(201,190,101,1) 47%, rgba(190,176,73,1) 57%, rgba(191,168,16,1) 70%, rgba(187,162,20,1) 79%, rgba(171,145,18,1) 87%, rgba(134,109,12,1) 99%);
  /*background: linear-gradient(0deg, rgba(71,62,206,1) 10%, rgba(25,155,255,1) 48%, rgba(225,66,223,1) 91%);*/
  }
  #anos{
  position:relative;
  bottom:2px;
  left:50%;
  transform:translate(-50%,0%);
  text-align:center;
  font-size:2vw;
  font-weight:bold;
  font-family:Arial,sans-serif;
  /*color:#493612;*/
  color:white;
  }
  
  /*tela de apresentacao home*/
  #home{
  position:relative;
  width:100%;
  height:auto;
  overflow-x:hidden;
  top:0vh;
  background-image:url("imagens/capa1.png");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  }
 
  #logo{
  position:relative;
  width:43%;
  margin-top:3%;
  left:50%;
  transform:translate(-50%,0%);
  transform:translate(-50%,0%);
  }
  #txtct{
	  position:relative;
	  text-align:center;
	  text-transform:uppercase;
	  display:flex;
	  font-size:160%;
	  background:none;
	  color:white; 
	  width:70%;
	  margin-top:0%;
	  left:50%;
	  transform:translate(-50%,0%);"
  }
  #texto_saudacao{
  display:block;
  opacity:0;
  position:relative;
  background:none;
  width:40%;
  height:auto;
  margin-top:5%;
  left:45%;
  color:white;
  text-align:left;
  transform:translate(-50%,0%);
  }
  
  /*container da caixa que tem os cursos de presencial e ead*/
  
  #cont_banner{
  position:relative;
  width:60%;
  height:auto;
  margin-top:20%;
  left:50%;
  transform:translate(-50%,0%);
  }
  
  #caixa1_cont_texto {
  display:flex;
  position:relative;
  background:none;
  width:100%;
  height:auto;
  margin-bottom:10px;
  }
  
  #modo{
  position:relative;
  font-family:Arial,sans-serif;
  font-size:2vh;
  color:#fff;
  width:100%;
  height:100%;
  padding:0%;
  bottom:0px;
  margin-top:2%;
  font-weight:bold;
  }
  
  #mostrar{
  display:none;
  position:absolute;
  width:20%;
  height:100%;
  margin:0%;
  padding:0px;
  right:1%;
  top:0px;
  background:#778BAD;
  color:#fff;
  border-radius:5px;
  border:2px solid white;
  font-weight:bold;
  font-size:98%;
  }
  
  .carousel {
  position: relative;
  width:100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel1 {
  display:none;
  position: relative;
  width:100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-track-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
  .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0;
  margin: 0;
  list-style: none;
  }
  
  .carousel-slide {
  min-width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  }
  
  .carousel-slide.current-slide {
  opacity: 1;
  }
  
  .carousel-slide:not(.current-slide) {
  opacity: 0;
  }
  
  #carousel-image1 {
  width: 100%;
  }
  #carousel-image2 {
  width: 100%;
  }
  
  .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 0 10px;
  cursor: pointer;
  z-index: 10;
  outline: none;
  }
  
  .carousel-button-left {
  left: 0px;
  border:2px solid white;
  border-radius:50px;
  padding-bottom:1%;
  }
  
  .carousel-button-right {
  right: 0px;
  border:2px solid white;
  border-radius:50px;
  padding-bottom:1%;
  }
  
  /*corpo da pagina*/
  
  #corpo_da_pagina {
  position:relative;
  width:100%;
  height:auto;
  background:none;
  padding:70px 0px 100px 0px;
  
  background-image:url("imagens/capa1.png");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  }
  #img {
  position:relative;
  width:50%;
  left:50%;
  transform:translate(-50%,0%);
  margin-top:5%;
  border-radius:20px;
  }
  /*area de contato*/
  #contato{
  position:relative;
  width:100%;
  height:auto;
  background:none;
  padding:0.4% 0% 1% 0%;
  margin-top:0%;
  padding-bottom:0%;
  padding-top:0px;
  
  
  }
  
  .notification-box {
  display: none;
  align-items: center;
  padding: 20px;
  background: white;
  margin-bottom:2%;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification-box img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  }
  
  .notification-box .message {
  font-size: 4vw;
  color: #4CAF50;
  }
  
  .contact-form {
  display:block;
  position:relative;
  background: #fff;
  padding:20px;
  margin:2% 0% 10% 0%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  left:50%;
  transform:translate(-50%,0%);
  }
  
  .contact-form h2 {
  margin:0px;
  text-align: center;
  text-transform:upoercase;
  }
  .contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  
  .contact-form button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }
  .contact-form button:hover {
  background: #0056b3;
  }

  footer{
  position:relative;
  width:100%;
  padding-bottom:3%;
  padding-top:30px;
  border-top:5px solid gray;
  color:white;
  text-align:center;
  background:#0E1523;
  }
  
  .notication {
  height:50%;
  position:absolute;
  top:50%;
  right:2%;
  transform:translate(0%,-50%);
  }
  